In [1]:
import pandas as pd
from pathlib import Path
import json

In [2]:
#CSV 1- NYC,BEI,LON,TKY,MXC

In [3]:
weather_one = Path("weather_data1.csv")

In [4]:
weather_one_df = pd.read_csv(weather_one)

In [5]:
weather_one_df.drop(weather_one_df.iloc[:, 2:7], inplace=True, axis=1)

In [6]:
dict1 = weather_one_df.to_dict()

In [7]:
norm1 = pd.json_normalize(dict1)

In [8]:
norm1.drop(norm1.iloc[:, 0:15], inplace=True, axis=1)

In [9]:
df1 = norm1.rename(columns={"hourly.0": "NYC", "hourly.1": "Beijing", "hourly.2": "London", "hourly.3": "Tokyo", "hourly.4": "Mexico City", })

In [10]:
df = pd.DataFrame(df1)

def parse_dict_string(dict_str):
    
    parsed_dict = json.loads(dict_str.replace("'", "\""))
    
    
    result_dict = {}
    for key, values in parsed_dict.items():
        result_dict[key] = values

    return result_dict

In [11]:
df['parsed_data_NYC'] = df['NYC'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [12]:
df = df.join(pd.json_normalize(df['parsed_data_NYC']))
df = df.rename(columns={'time': 'NYC Date', 'carbon_monoxide': 'NYC Carbon Monoxide', 'uv_index': 'NYC UV-Index'}, inplace=False)

In [13]:
df['parsed_data_Beijing'] = df['Beijing'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [14]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing']))
df = df.rename(columns={'time': 'Beijing Date', 'carbon_monoxide': 'Beijing Carbon Monoxide', 'uv_index': 'Beijing UV-Index'}, inplace=False)

In [15]:
df['parsed_data_London'] = df['London'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [16]:
df = df.join(pd.json_normalize(df['parsed_data_London']))
df = df.rename(columns={'time': 'London Date', 'carbon_monoxide': 'London Carbon Monoxide', 'uv_index': 'London UV-Index'}, inplace=False)

In [17]:
df['parsed_data_Tokyo'] = df['Tokyo'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [18]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo']))
df = df.rename(columns={'time': 'Tokyo Date', 'carbon_monoxide': 'Tokyo Carbon Monoxide', 'uv_index': 'Tokyo UV-Index'}, inplace=False)

In [19]:
df['parsed_data_MX'] = df['Mexico City'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [20]:
df = df.join(pd.json_normalize(df['parsed_data_MX']))
df = df.rename(columns={'time': 'MXC Date', 'carbon_monoxide': 'MXC Carbon Monoxide', 'uv_index': 'MXC UV-Index'}, inplace=False)

In [21]:
df = df.drop(columns=['NYC', 'Beijing', 'London', 'Tokyo', 'Mexico City', 'parsed_data_NYC', 'parsed_data_Beijing', 'parsed_data_London', 'parsed_data_Tokyo', 'parsed_data_MX'])

In [22]:
df = df.apply(lambda x: x.explode()).reset_index(drop=True)

df.reset_index(drop=True, inplace=True)

df.columns = [col.split()[0] if 'Date' in col else col for col in df.columns]

In [23]:
df['NYC'] = pd.to_datetime(df['NYC'])
df['Beijing'] = pd.to_datetime(df['Beijing'])
df['London'] = pd.to_datetime(df['London'])
df['Tokyo'] = pd.to_datetime(df['Tokyo'])
df['MXC'] = pd.to_datetime(df['MXC'])

df.head()

,NYC,NYC Carbon Monoxide,NYC UV-Index,Beijing,Beijing Carbon Monoxide,Beijing UV-Index,London,London Carbon Monoxide,London UV-Index,Tokyo,Tokyo Carbon Monoxide,Tokyo UV-Index,MXC,MXC Carbon Monoxide,MXC UV-Index
0,2022-10-01 00:00:00,123.0,0.0,2022-10-01 00:00:00,1839.0,0.6,2022-10-01 00:00:00,122.0,0.0,2022-10-01 00:00:00,158.0,3.05,2022-10-01 00:00:00,234.0,0.0
1,2022-10-01 01:00:00,123.0,0.0,2022-10-01 01:00:00,1585.0,1.25,2022-10-01 01:00:00,135.0,0.0,2022-10-01 01:00:00,161.0,4.55,2022-10-01 01:00:00,240.0,0.1
2,2022-10-01 02:00:00,123.0,0.35,2022-10-01 02:00:00,1226.0,2.05,2022-10-01 02:00:00,140.0,0.0,2022-10-01 02:00:00,164.0,5.9,2022-10-01 02:00:00,247.0,0.15
3,2022-10-01 03:00:00,124.0,1.15,2022-10-01 03:00:00,871.0,1.5,2022-10-01 03:00:00,143.0,0.0,2022-10-01 03:00:00,169.0,5.75,2022-10-01 03:00:00,256.0,0.65
4,2022-10-01 04:00:00,125.0,2.45,2022-10-01 04:00:00,819.0,1.2,2022-10-01 04:00:00,141.0,0.0,2022-10-01 04:00:00,170.0,4.6,2022-10-01 04:00:00,260.0,1.15

In [24]:
file_path = 'Major_Cities_CM_UV.csv'

df.to_csv(file_path, index=False)

In [25]:
#Analysis for Leaflet Map

In [26]:
cm_df = df[['NYC Carbon Monoxide','Beijing Carbon Monoxide','London Carbon Monoxide','Tokyo Carbon Monoxide','MXC Carbon Monoxide']]

In [27]:
cm_sum = cm_df.mean()
cm_sum

NYC Carbon Monoxide         128.675660
Beijing Carbon Monoxide    1424.386726
London Carbon Monoxide      186.733607
Tokyo Carbon Monoxide       299.543147
MXC Carbon Monoxide         329.423497
dtype: float64

In [28]:
uv_df = df[['NYC UV-Index','Beijing UV-Index','London UV-Index','Tokyo UV-Index','MXC UV-Index']]

In [29]:
uv_sum = uv_df.mean()
uv_sum

NYC UV-Index        1.491029
Beijing UV-Index    0.913092
London UV-Index     0.632702
Tokyo UV-Index      1.103415
MXC UV-Index        1.633942
dtype: float64

In [30]:
#CSV 2- ZUR,HON,REY,HOB,FUN

In [31]:
weather_two = Path("weather_data2.csv")

In [32]:
weather_two_df = pd.read_csv(weather_two)

In [33]:
weather_two_df.drop(weather_two_df.iloc[:, 2:7], inplace=True, axis=1)

In [34]:
dict1 = weather_two_df.to_dict()

In [35]:
norm1 = pd.json_normalize(dict1)

In [36]:
norm1.drop(norm1.iloc[:, 0:15], inplace=True, axis=1)

In [37]:
df1 = norm1.rename(columns={"hourly.0": "NYC", "hourly.1": "Beijing", "hourly.2": "London", "hourly.3": "Tokyo", "hourly.4": "Mexico City", })

In [38]:
df = pd.DataFrame(df1)

def parse_dict_string(dict_str):
    
    parsed_dict = json.loads(dict_str.replace("'", "\""))
    
    
    result_dict = {}
    for key, values in parsed_dict.items():
        result_dict[key] = values

    return result_dict

In [39]:
df['parsed_data_NYC'] = df['NYC'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [40]:
df = df.join(pd.json_normalize(df['parsed_data_NYC']))
df = df.rename(columns={'time': 'Zurich Date', 'carbon_monoxide': 'Zurich Carbon Monoxide', 'uv_index': 'Zurich UV-Index'}, inplace=False)

In [41]:
df['parsed_data_Beijing'] = df['Beijing'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [42]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing']))
df = df.rename(columns={'time': 'Honolulu Date', 'carbon_monoxide': 'Honolulu Carbon Monoxide', 'uv_index': 'Honolulu UV-Index'}, inplace=False)

In [43]:
df['parsed_data_London'] = df['London'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [44]:
df = df.join(pd.json_normalize(df['parsed_data_London']))
df = df.rename(columns={'time': 'Reykjavik Date', 'carbon_monoxide': 'Reykjavik Carbon Monoxide', 'uv_index': 'Reykjavik UV-Index'}, inplace=False)

In [45]:
df['parsed_data_Tokyo'] = df['Tokyo'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [46]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo']))
df = df.rename(columns={'time': 'Hobart Date', 'carbon_monoxide': 'Hobart Carbon Monoxide', 'uv_index': 'Hobart UV-Index'}, inplace=False)

In [47]:
df['parsed_data_MX'] = df['Mexico City'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX']
time_values = parsed_dict['time']
carbon_monoxide_values = parsed_dict['carbon_monoxide']
uv_index_values = parsed_dict['uv_index']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_carbon_monoxide_value = carbon_monoxide_values[specific_index]
specific_uv_index_value = uv_index_values[specific_index]

In [48]:
df = df.join(pd.json_normalize(df['parsed_data_MX']))
df = df.rename(columns={'time': 'Funchal Date', 'carbon_monoxide': 'Funchal Carbon Monoxide', 'uv_index': 'Funchal UV-Index'}, inplace=False)

In [49]:
df = df.drop(columns=['NYC', 'Beijing', 'London', 'Tokyo', 'Mexico City', 'parsed_data_NYC', 'parsed_data_Beijing', 'parsed_data_London', 'parsed_data_Tokyo', 'parsed_data_MX'])

In [50]:
df = df.apply(lambda x: x.explode()).reset_index(drop=True)

df.reset_index(drop=True, inplace=True)

df.columns = [col.split()[0] if 'Date' in col else col for col in df.columns]

In [51]:
df['Zurich'] = pd.to_datetime(df['Zurich'])
df['Honolulu'] = pd.to_datetime(df['Honolulu'])
df['Reykjavik'] = pd.to_datetime(df['Reykjavik'])
df['Hobart'] = pd.to_datetime(df['Hobart'])
df['Funchal'] = pd.to_datetime(df['Funchal'])

df.head()

,Zurich,Zurich Carbon Monoxide,Zurich UV-Index,Honolulu,Honolulu Carbon Monoxide,Honolulu UV-Index,Reykjavik,Reykjavik Carbon Monoxide,Reykjavik UV-Index,Hobart,Hobart Carbon Monoxide,Hobart UV-Index,Funchal,Funchal Carbon Monoxide,Funchal UV-Index
0,2022-10-01 00:00:00,179.0,0.0,2022-10-01 00:00:00,78.0,4.4,2022-10-01 00:00:00,109.0,0.0,2022-10-01 00:00:00,78.0,1.5,2022-10-01 00:00:00,95.0,0.0
1,2022-10-01 01:00:00,184.0,0.0,2022-10-01 01:00:00,77.0,1.9,2022-10-01 01:00:00,109.0,0.0,2022-10-01 01:00:00,78.0,0.85,2022-10-01 01:00:00,95.0,0.05
2,2022-10-01 02:00:00,185.0,0.05,2022-10-01 02:00:00,77.0,0.5,2022-10-01 02:00:00,109.0,0.0,2022-10-01 02:00:00,78.0,0.35,2022-10-01 02:00:00,97.0,0.5
3,2022-10-01 03:00:00,184.0,0.2,2022-10-01 03:00:00,77.0,0.0,2022-10-01 03:00:00,110.0,0.0,2022-10-01 03:00:00,79.0,0.15,2022-10-01 03:00:00,97.0,1.65
4,2022-10-01 04:00:00,152.0,0.25,2022-10-01 04:00:00,77.0,0.0,2022-10-01 04:00:00,110.0,0.0,2022-10-01 04:00:00,80.0,0.0,2022-10-01 04:00:00,95.0,3.35

In [52]:
file_path = 'Small_Cities_CM_UV.csv'

df.to_csv(file_path, index=False)

In [53]:
#Analysis for Leaflet Map

In [54]:
cm_df = df[['Zurich Carbon Monoxide','Honolulu Carbon Monoxide','Reykjavik Carbon Monoxide','Hobart Carbon Monoxide','Funchal Carbon Monoxide']]

In [55]:
cm_sum = cm_df.mean()
cm_sum

Zurich Carbon Monoxide       192.881603
Honolulu Carbon Monoxide      96.189549
Reykjavik Carbon Monoxide    142.370788
Hobart Carbon Monoxide        74.157218
Funchal Carbon Monoxide      120.780168
dtype: float64

In [56]:
uv_df = df[['Zurich UV-Index','Honolulu UV-Index','Reykjavik UV-Index','Hobart UV-Index','Funchal UV-Index']]

In [57]:
uv_sum = uv_df.mean()
uv_sum

Zurich UV-Index       0.822723
Honolulu UV-Index     1.928017
Reykjavik UV-Index    0.366991
Hobart UV-Index       0.887511
Funchal UV-Index      1.501719
dtype: float64

In [58]:
#CSV 3- ZUR,HON,REY,HOB,FUN

In [59]:
weather_three = Path("weather_data3.csv")

In [60]:
weather_three_df = pd.read_csv(weather_three)

In [61]:
weather_three_df.drop(weather_three_df.iloc[:, 2:7], inplace=True, axis=1)

In [62]:
dict1 = weather_three_df.to_dict()

In [63]:
norm1 = pd.json_normalize(dict1)

In [64]:
norm1.drop(norm1.iloc[:, 0:15], inplace=True, axis=1)

In [65]:
norm1.drop(norm1.iloc[:, 5:10], inplace=True, axis=1)

In [66]:
df1 = norm1.rename(columns={"hourly.0": "NYC H", "hourly.1": "Beijing H", "hourly.2": "London H", "hourly.3": "Tokyo H", "hourly.4": "Mexico City H", "daily.0": "NYC D", "daily.1": "Beijing D", "daily.2": "London D", "daily.3": "Tokyo D", "daily.4": "Mexico City D", })

In [67]:
df = pd.DataFrame(df1)

def parse_dict_string(dict_str):
    
    parsed_dict = json.loads(dict_str.replace("'", "\""))
    
    
    result_dict = {}
    for key, values in parsed_dict.items():
        result_dict[key] = values

    return result_dict

In [68]:
df['parsed_data_NYC H'] = df['NYC H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [69]:
df = df.join(pd.json_normalize(df['parsed_data_NYC H']))
df = df.rename(columns={'time': 'NYC Date/Hour', 'pressure_msl': 'NYC Pressure MSL'}, inplace=False)

In [70]:
df['parsed_data_Beijing H'] = df['Beijing H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [71]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing H']))
df = df.rename(columns={'time': 'Beijing Date/Hour', 'pressure_msl': 'Beijing Pressure MSL'}, inplace=False)

In [72]:
df['parsed_data_London H'] = df['London H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [73]:
df = df.join(pd.json_normalize(df['parsed_data_London H']))
df = df.rename(columns={'time': 'London Date/Hour', 'pressure_msl': 'London Pressure MSL'}, inplace=False)

In [74]:
df['parsed_data_Tokyo H'] = df['Tokyo H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [75]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo H']))
df = df.rename(columns={'time': 'Tokyo Date/Hour', 'pressure_msl': 'Tokyo Pressure MSL'}, inplace=False)

In [76]:
df['parsed_data_MX H'] = df['Mexico City H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [77]:
df = df.join(pd.json_normalize(df['parsed_data_MX H']))
df = df.rename(columns={'time': 'MXC Date/Hour', 'pressure_msl': 'MXC Pressure MSL'}, inplace=False)

In [78]:
df['parsed_data_NYC D'] = df['NYC D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [79]:
df = df.join(pd.json_normalize(df['parsed_data_NYC D']))
df = df.rename(columns={'time': 'Zurich Date', 'temperature_2m_max': 'Zurich Max Temp', 'precipitation_sum': 'Zurich Precipitation'}, inplace=False)

In [80]:
df['parsed_data_Beijing D'] = df['Beijing D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [81]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing D']))
df = df.rename(columns={'time': 'Honolulu Date', 'temperature_2m_max': 'Honolulu Max Temp', 'precipitation_sum': 'Honolulu Precipitation'}, inplace=False)

In [82]:
df['parsed_data_London D'] = df['London D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [83]:
df = df.join(pd.json_normalize(df['parsed_data_London D']))
df = df.rename(columns={'time': 'Reykjavik Date', 'temperature_2m_max': 'Reykjavik Max Temp', 'precipitation_sum': 'Reykjavik Precipitation'}, inplace=False)

In [84]:
df['parsed_data_Tokyo D'] = df['Tokyo D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [85]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo D']))
df = df.rename(columns={'time': 'Hobart Date', 'temperature_2m_max': 'Hobart Max Temp', 'precipitation_sum': 'Hobart Precipitation'}, inplace=False)

In [86]:
df['parsed_data_MX D'] = df['Mexico City D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [87]:
df = df.join(pd.json_normalize(df['parsed_data_MX D']))
df = df.rename(columns={'time': 'Funchal Date', 'temperature_2m_max': 'Funchal Max Temp', 'precipitation_sum': 'Funchal Precipitation'}, inplace=False)

In [88]:
df = df.drop(columns=['NYC H', 'Beijing H', 'London H', 'Tokyo H', 'Mexico City H', 'NYC D', 'Beijing D', 'London D', 'Tokyo D', 'Mexico City D', 'parsed_data_NYC H', 'parsed_data_Beijing H', 'parsed_data_London H', 'parsed_data_Tokyo H', 'parsed_data_MX H', 'parsed_data_NYC D', 'parsed_data_Beijing D', 'parsed_data_London D', 'parsed_data_Tokyo D', 'parsed_data_MX D'])

In [89]:
df = df.drop(columns=['NYC Date/Hour', 'NYC Pressure MSL', 'Beijing Date/Hour', 'Beijing Pressure MSL', 'London Date/Hour', 'London Pressure MSL', 'Tokyo Date/Hour', 'Tokyo Pressure MSL', 'MXC Date/Hour', 'MXC Pressure MSL'])

In [90]:
df = df.apply(lambda x: x.explode()).reset_index(drop=True)

df.reset_index(drop=True, inplace=True)

df.columns = [col.split()[0] if 'Date' in col else col for col in df.columns]

In [91]:
df

,Zurich,Zurich Max Temp,Zurich Precipitation,Honolulu,Honolulu Max Temp,Honolulu Precipitation,Reykjavik,Reykjavik Max Temp,Reykjavik Precipitation,Hobart,Hobart Max Temp,Hobart Precipitation,Funchal,Funchal Max Temp,Funchal Precipitation
0,2010-01-01,5.3,7.5,2010-01-01,27.2,1.3,2010-01-01,-4.4,0.0,2010-01-01,22.1,0.6,2010-01-01,20.5,0.0
1,2010-01-02,-1.6,0.3,2010-01-02,25.8,0.0,2010-01-02,-6.1,0.0,2010-01-02,18.5,0.1,2010-01-02,18.5,0.0
2,2010-01-03,0.7,0.0,2010-01-03,25.3,0.0,2010-01-03,-4.6,0.0,2010-01-03,23.2,0.0,2010-01-03,18.0,0.0
3,2010-01-04,-0.5,0.0,2010-01-04,25.9,0.0,2010-01-04,-5.3,0.0,2010-01-04,23.3,0.0,2010-01-04,18.5,0.0
4,2010-01-05,-1.1,0.2,2010-01-05,26.0,0.0,2010-01-05,-7.6,0.0,2010-01-05,22.0,0.0,2010-01-05,20.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27,6.3,8.2,2019-12-27,26.4,0.3,2019-12-27,5.6,3.4,2019-12-27,29.9,0.0,2019-12-27,17.1,0.6
3648,2019-12-28,4.1,0.0,2019-12-28,26.4,0.2,2019-12-28,3.6,5.3,2019-12-28,29.4,0.0,2019-12-28,16.2,3.6
3649,2019-12-29,5.1,0.0,2019-12-29,24.5,0.0,2019-12-29,1.6,4.8,2019-12-29,37.6,0.0,2019-12-29,13.1,2.3
3650,2019-12-30,5.9,0.0,2019-12-30,23.8,0.0,2019-12-30,3.1,4.2,2019-12-30,37.6,5.6,2019-12-30,13.5,0.9
3651,2019-12-31,7.6,0.0,2019-12-31,24.6,0.1,2019-12-31,6.7,17.5,2019-12-31,21.5,0.0,2019-12-31,14.1,6.7

In [92]:
file_path = 'Small_Cities_Temp_Prec.csv'

df.to_csv(file_path, index=False)

In [93]:
#CSV 4- NYC,BEI,LON,TKY,MXC

In [94]:
weather_four = Path("weather_data4.csv")

In [95]:
weather_four_df = pd.read_csv(weather_four)

In [96]:
weather_four_df.drop(weather_four_df.iloc[:, 2:7], inplace=True, axis=1)

In [97]:
dict1 = weather_four_df.to_dict()

In [98]:
norm1 = pd.json_normalize(dict1)

In [99]:
norm1.drop(norm1.iloc[:, 0:15], inplace=True, axis=1)

In [100]:
norm1.drop(norm1.iloc[:, 5:10], inplace=True, axis=1)

In [101]:
df1 = norm1.rename(columns={"hourly.0": "NYC H", "hourly.1": "Beijing H", "hourly.2": "London H", "hourly.3": "Tokyo H", "hourly.4": "Mexico City H", "daily.0": "NYC D", "daily.1": "Beijing D", "daily.2": "London D", "daily.3": "Tokyo D", "daily.4": "Mexico City D", })

In [102]:
df = pd.DataFrame(df1)

def parse_dict_string(dict_str):
    
    parsed_dict = json.loads(dict_str.replace("'", "\""))
    
    
    result_dict = {}
    for key, values in parsed_dict.items():
        result_dict[key] = values

    return result_dict

In [103]:
df['parsed_data_NYC H'] = df['NYC H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [104]:
df = df.join(pd.json_normalize(df['parsed_data_NYC H']))
df = df.rename(columns={'time': 'NYC Date/Hour', 'pressure_msl': 'NYC Pressure MSL'}, inplace=False)

In [105]:
df['parsed_data_Beijing H'] = df['Beijing H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [106]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing H']))
df = df.rename(columns={'time': 'Beijing Date/Hour', 'pressure_msl': 'Beijing Pressure MSL'}, inplace=False)

In [107]:
df['parsed_data_London H'] = df['London H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [108]:
df = df.join(pd.json_normalize(df['parsed_data_London H']))
df = df.rename(columns={'time': 'London Date/Hour', 'pressure_msl': 'London Pressure MSL'}, inplace=False)

In [109]:
df['parsed_data_Tokyo H'] = df['Tokyo H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [110]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo H']))
df = df.rename(columns={'time': 'Tokyo Date/Hour', 'pressure_msl': 'Tokyo Pressure MSL'}, inplace=False)

In [111]:
df['parsed_data_MX H'] = df['Mexico City H'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX H']
time_values = parsed_dict['time']
pressure_msl_values = parsed_dict['pressure_msl']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_pressure_msl_value = pressure_msl_values[specific_index]

In [112]:
df = df.join(pd.json_normalize(df['parsed_data_MX H']))
df = df.rename(columns={'time': 'MXC Date/Hour', 'pressure_msl': 'MXC Pressure MSL'}, inplace=False)

In [113]:
df['parsed_data_NYC D'] = df['NYC D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_NYC D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [114]:
df = df.join(pd.json_normalize(df['parsed_data_NYC D']))
df = df.rename(columns={'time': 'NYC Date', 'temperature_2m_max': 'NYC Max Temp', 'precipitation_sum': 'NYC Precipitation'}, inplace=False)

In [115]:
df['parsed_data_Beijing D'] = df['Beijing D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Beijing D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [116]:
df = df.join(pd.json_normalize(df['parsed_data_Beijing D']))
df = df.rename(columns={'time': 'Beijing Date', 'temperature_2m_max': 'Beijing Max Temp', 'precipitation_sum': 'Beijing Precipitation'}, inplace=False)

In [117]:
df['parsed_data_London D'] = df['London D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_London D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [118]:
df = df.join(pd.json_normalize(df['parsed_data_London D']))
df = df.rename(columns={'time': 'London Date', 'temperature_2m_max': 'London Max Temp', 'precipitation_sum': 'London Precipitation'}, inplace=False)

In [119]:
df['parsed_data_Tokyo D'] = df['Tokyo D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_Tokyo D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [120]:
df = df.join(pd.json_normalize(df['parsed_data_Tokyo D']))
df = df.rename(columns={'time': 'Tokyo Date', 'temperature_2m_max': 'Tokyo Max Temp', 'precipitation_sum': 'Tokyo Precipitation'}, inplace=False)

In [121]:
df['parsed_data_MX D'] = df['Mexico City D'].apply(parse_dict_string)

row_index = 0
parsed_dict = df.at[row_index, 'parsed_data_MX D']
time_values = parsed_dict['time']
temp_max_values = parsed_dict['temperature_2m_max']
precipitation_values = parsed_dict['precipitation_sum']

specific_index = 1
specific_time_value = time_values[specific_index]
specific_precipitation_value = precipitation_values[specific_index]

In [122]:
df = df.join(pd.json_normalize(df['parsed_data_MX D']))
df = df.rename(columns={'time': 'MXC Date', 'temperature_2m_max': 'MXC Max Temp', 'precipitation_sum': 'MXC Precipitation'}, inplace=False)

In [123]:
df = df.drop(columns=['NYC H', 'Beijing H', 'London H', 'Tokyo H', 'Mexico City H', 'NYC D', 'Beijing D', 'London D', 'Tokyo D', 'Mexico City D', 'parsed_data_NYC H', 'parsed_data_Beijing H', 'parsed_data_London H', 'parsed_data_Tokyo H', 'parsed_data_MX H', 'parsed_data_NYC D', 'parsed_data_Beijing D', 'parsed_data_London D', 'parsed_data_Tokyo D', 'parsed_data_MX D'])

In [124]:
df = df.drop(columns=['NYC Date/Hour', 'NYC Pressure MSL', 'Beijing Date/Hour', 'Beijing Pressure MSL', 'London Date/Hour', 'London Pressure MSL', 'Tokyo Date/Hour', 'Tokyo Pressure MSL', 'MXC Date/Hour', 'MXC Pressure MSL'])

In [125]:
df = df.apply(lambda x: x.explode()).reset_index(drop=True)

df.reset_index(drop=True, inplace=True)

df.columns = [col.split()[0] if 'Date' in col else col for col in df.columns]

In [126]:
df

,NYC,NYC Max Temp,NYC Precipitation,Beijing,Beijing Max Temp,Beijing Precipitation,London,London Max Temp,London Precipitation,Tokyo,Tokyo Max Temp,Tokyo Precipitation,MXC,MXC Max Temp,MXC Precipitation
0,2010-01-01,-11.1,0.0,2010-01-01,-0.3,0.0,2010-01-01,2.4,0.0,2010-01-01,7.7,0.0,2010-01-01,27.9,0.0
1,2010-01-02,-9.0,0.0,2010-01-02,-1.6,7.5,2010-01-02,3.5,0.0,2010-01-02,9.3,0.0,2010-01-02,28.1,0.0
2,2010-01-03,-9.0,0.0,2010-01-03,-7.5,5.3,2010-01-03,2.2,0.0,2010-01-03,8.1,0.0,2010-01-03,28.0,0.0
3,2010-01-04,-7.9,0.3,2010-01-04,-9.0,0.0,2010-01-04,1.4,0.0,2010-01-04,11.3,1.3,2010-01-04,28.1,0.0
4,2010-01-05,-11.6,2.8,2010-01-05,-8.0,0.0,2010-01-05,1.7,7.1,2010-01-05,11.4,0.1,2010-01-05,27.9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27,-12.4,0.0,2019-12-27,3.8,0.0,2019-12-27,8.8,0.0,2019-12-27,11.8,0.0,2019-12-27,26.7,4.1
3648,2019-12-28,-15.4,0.0,2019-12-28,4.4,0.0,2019-12-28,9.4,0.0,2019-12-28,9.3,0.0,2019-12-28,24.4,5.0
3649,2019-12-29,-9.0,0.0,2019-12-29,6.6,0.0,2019-12-29,8.6,0.0,2019-12-29,8.8,0.2,2019-12-29,23.3,1.9
3650,2019-12-30,-11.0,0.1,2019-12-30,-4.8,0.0,2019-12-30,9.4,0.0,2019-12-30,14.8,0.0,2019-12-30,23.5,0.0
3651,2019-12-31,-13.8,1.4,2019-12-31,-2.4,0.0,2019-12-31,9.3,0.0,2019-12-31,17.1,0.0,2019-12-31,24.5,0.1

In [127]:
file_path = 'Major_Cities_Temp_Prec.csv'

df.to_csv(file_path, index=False)

In [128]:
#MERGE CSV 3 and CSV 4

In [129]:
df1 = pd.read_csv('Major_Cities_Temp_Prec.csv')
df2 = pd.read_csv('Small_Cities_Temp_Prec.csv')

In [130]:
merged_df = pd.concat([df1, df2], axis=1)

merged_df.reset_index(drop=True, inplace=True)

In [131]:
file_path = 'Merged_Data_CSV.csv'

merged_df.to_csv(file_path, index=False)

In [132]:
# Store filepath in a variable
weather_one = Path("Merged_Data_CSV.csv")

In [133]:
weather_one_df = pd.read_csv(weather_one)
weather_one_df

,NYC,NYC Max Temp,NYC Precipitation,Beijing,Beijing Max Temp,Beijing Precipitation,London,London Max Temp,London Precipitation,Tokyo,...,Honolulu Precipitation,Reykjavik,Reykjavik Max Temp,Reykjavik Precipitation,Hobart,Hobart Max Temp,Hobart Precipitation,Funchal,Funchal Max Temp,Funchal Precipitation
0,2010-01-01,-11.1,0.0,2010-01-01,-0.3,0.0,2010-01-01,2.4,0.0,2010-01-01,...,1.3,2010-01-01,-4.4,0.0,2010-01-01,22.1,0.6,2010-01-01,20.5,0.0
1,2010-01-02,-9.0,0.0,2010-01-02,-1.6,7.5,2010-01-02,3.5,0.0,2010-01-02,...,0.0,2010-01-02,-6.1,0.0,2010-01-02,18.5,0.1,2010-01-02,18.5,0.0
2,2010-01-03,-9.0,0.0,2010-01-03,-7.5,5.3,2010-01-03,2.2,0.0,2010-01-03,...,0.0,2010-01-03,-4.6,0.0,2010-01-03,23.2,0.0,2010-01-03,18.0,0.0
3,2010-01-04,-7.9,0.3,2010-01-04,-9.0,0.0,2010-01-04,1.4,0.0,2010-01-04,...,0.0,2010-01-04,-5.3,0.0,2010-01-04,23.3,0.0,2010-01-04,18.5,0.0
4,2010-01-05,-11.6,2.8,2010-01-05,-8.0,0.0,2010-01-05,1.7,7.1,2010-01-05,...,0.0,2010-01-05,-7.6,0.0,2010-01-05,22.0,0.0,2010-01-05,20.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27,-12.4,0.0,2019-12-27,3.8,0.0,2019-12-27,8.8,0.0,2019-12-27,...,0.3,2019-12-27,5.6,3.4,2019-12-27,29.9,0.0,2019-12-27,17.1,0.6
3648,2019-12-28,-15.4,0.0,2019-12-28,4.4,0.0,2019-12-28,9.4,0.0,2019-12-28,...,0.2,2019-12-28,3.6,5.3,2019-12-28,29.4,0.0,2019-12-28,16.2,3.6
3649,2019-12-29,-9.0,0.0,2019-12-29,6.6,0.0,2019-12-29,8.6,0.0,2019-12-29,...,0.0,2019-12-29,1.6,4.8,2019-12-29,37.6,0.0,2019-12-29,13.1,2.3
3650,2019-12-30,-11.0,0.1,2019-12-30,-4.8,0.0,2019-12-30,9.4,0.0,2019-12-30,...,0.0,2019-12-30,3.1,4.2,2019-12-30,37.6,5.6,2019-12-30,13.5,0.9
3651,2019-12-31,-13.8,1.4,2019-12-31,-2.4,0.0,2019-12-31,9.3,0.0,2019-12-31,...,0.1,2019-12-31,6.7,17.5,2019-12-31,21.5,0.0,2019-12-31,14.1,6.7

In [134]:
# Renaming columns for ease to work in sql etc.
weather_one_df.columns = ["nyc", "nyc_max_temp", "nyc_prcp", "bjg", "bjg_max_temp", "bjg_prcp", "lnd", "lnd_max_temp", "lnd_prcp",
                          "tky", "tky_max_temp", "tky_prcp", "mxc", "mxc_max_temp", "mxc_prcp", "zch", "zch_max_temp", "zch_prcp",
                          "hnl", "hnl_max_temp", "hnl_prcp", "ryk", "ryk_max_temp", "ryk_prcp", "hbt", "hbt_max_temp", "hbt_prcp",
                          "fcl", "fcl_max_temp", "fcl_prcp"]

weather_one_df

,nyc,nyc_max_temp,nyc_prcp,bjg,bjg_max_temp,bjg_prcp,lnd,lnd_max_temp,lnd_prcp,tky,...,hnl_prcp,ryk,ryk_max_temp,ryk_prcp,hbt,hbt_max_temp,hbt_prcp,fcl,fcl_max_temp,fcl_prcp
0,2010-01-01,-11.1,0.0,2010-01-01,-0.3,0.0,2010-01-01,2.4,0.0,2010-01-01,...,1.3,2010-01-01,-4.4,0.0,2010-01-01,22.1,0.6,2010-01-01,20.5,0.0
1,2010-01-02,-9.0,0.0,2010-01-02,-1.6,7.5,2010-01-02,3.5,0.0,2010-01-02,...,0.0,2010-01-02,-6.1,0.0,2010-01-02,18.5,0.1,2010-01-02,18.5,0.0
2,2010-01-03,-9.0,0.0,2010-01-03,-7.5,5.3,2010-01-03,2.2,0.0,2010-01-03,...,0.0,2010-01-03,-4.6,0.0,2010-01-03,23.2,0.0,2010-01-03,18.0,0.0
3,2010-01-04,-7.9,0.3,2010-01-04,-9.0,0.0,2010-01-04,1.4,0.0,2010-01-04,...,0.0,2010-01-04,-5.3,0.0,2010-01-04,23.3,0.0,2010-01-04,18.5,0.0
4,2010-01-05,-11.6,2.8,2010-01-05,-8.0,0.0,2010-01-05,1.7,7.1,2010-01-05,...,0.0,2010-01-05,-7.6,0.0,2010-01-05,22.0,0.0,2010-01-05,20.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27,-12.4,0.0,2019-12-27,3.8,0.0,2019-12-27,8.8,0.0,2019-12-27,...,0.3,2019-12-27,5.6,3.4,2019-12-27,29.9,0.0,2019-12-27,17.1,0.6
3648,2019-12-28,-15.4,0.0,2019-12-28,4.4,0.0,2019-12-28,9.4,0.0,2019-12-28,...,0.2,2019-12-28,3.6,5.3,2019-12-28,29.4,0.0,2019-12-28,16.2,3.6
3649,2019-12-29,-9.0,0.0,2019-12-29,6.6,0.0,2019-12-29,8.6,0.0,2019-12-29,...,0.0,2019-12-29,1.6,4.8,2019-12-29,37.6,0.0,2019-12-29,13.1,2.3
3650,2019-12-30,-11.0,0.1,2019-12-30,-4.8,0.0,2019-12-30,9.4,0.0,2019-12-30,...,0.0,2019-12-30,3.1,4.2,2019-12-30,37.6,5.6,2019-12-30,13.5,0.9
3651,2019-12-31,-13.8,1.4,2019-12-31,-2.4,0.0,2019-12-31,9.3,0.0,2019-12-31,...,0.1,2019-12-31,6.7,17.5,2019-12-31,21.5,0.0,2019-12-31,14.1,6.7

In [135]:
weather_one_df2 = weather_one_df.drop(columns=['bjg', 'lnd','tky','mxc', 'zch', 'hnl','ryk','hbt','fcl',])
weather_one_df3 = weather_one_df2.rename(columns={"nyc": "date"})
weather_one_df3

,date,nyc_max_temp,nyc_prcp,bjg_max_temp,bjg_prcp,lnd_max_temp,lnd_prcp,tky_max_temp,tky_prcp,mxc_max_temp,...,zch_max_temp,zch_prcp,hnl_max_temp,hnl_prcp,ryk_max_temp,ryk_prcp,hbt_max_temp,hbt_prcp,fcl_max_temp,fcl_prcp
0,2010-01-01,-11.1,0.0,-0.3,0.0,2.4,0.0,7.7,0.0,27.9,...,5.3,7.5,27.2,1.3,-4.4,0.0,22.1,0.6,20.5,0.0
1,2010-01-02,-9.0,0.0,-1.6,7.5,3.5,0.0,9.3,0.0,28.1,...,-1.6,0.3,25.8,0.0,-6.1,0.0,18.5,0.1,18.5,0.0
2,2010-01-03,-9.0,0.0,-7.5,5.3,2.2,0.0,8.1,0.0,28.0,...,0.7,0.0,25.3,0.0,-4.6,0.0,23.2,0.0,18.0,0.0
3,2010-01-04,-7.9,0.3,-9.0,0.0,1.4,0.0,11.3,1.3,28.1,...,-0.5,0.0,25.9,0.0,-5.3,0.0,23.3,0.0,18.5,0.0
4,2010-01-05,-11.6,2.8,-8.0,0.0,1.7,7.1,11.4,0.1,27.9,...,-1.1,0.2,26.0,0.0,-7.6,0.0,22.0,0.0,20.2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3647,2019-12-27,-12.4,0.0,3.8,0.0,8.8,0.0,11.8,0.0,26.7,...,6.3,8.2,26.4,0.3,5.6,3.4,29.9,0.0,17.1,0.6
3648,2019-12-28,-15.4,0.0,4.4,0.0,9.4,0.0,9.3,0.0,24.4,...,4.1,0.0,26.4,0.2,3.6,5.3,29.4,0.0,16.2,3.6
3649,2019-12-29,-9.0,0.0,6.6,0.0,8.6,0.0,8.8,0.2,23.3,...,5.1,0.0,24.5,0.0,1.6,4.8,37.6,0.0,13.1,2.3
3650,2019-12-30,-11.0,0.1,-4.8,0.0,9.4,0.0,14.8,0.0,23.5,...,5.9,0.0,23.8,0.0,3.1,4.2,37.6,5.6,13.5,0.9
3651,2019-12-31,-13.8,1.4,-2.4,0.0,9.3,0.0,17.1,0.0,24.5,...,7.6,0.0,24.6,0.1,6.7,17.5,21.5,0.0,14.1,6.7

In [136]:
weather_one_df3.to_csv('data.csv', index=False)